{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{% static "/css/reserv_ended.css" %}">
    <title>Document</title>
</head>
<body dir="rtl" >
    <div class="maine">
        <img class="imgmaine" src="{% static "img/massage2.jpg" %}" alt="login">
        <p class="textobject">
            پرداخت و ثبت نهایی
        </p>
        <div class="regester">
            <form action="" class="nametable" method="POST">
                {% csrf_token %}
                <div class="box">
                    <p>
                         {{ firstname }}  {{ lastname }} عزیز
                    </p>
                    <p id="reservtext">
                         شما خدمت
                        {{ selectprocedure.0 }} {{ selectprocedure.1 }}
                        که توسط
                        {{ selectprocedure.2 }}
                        انجام میگردد را رزرو مینمایید
                         زمان رزرو شما روز
                        {{ selectprocedure.5 }}
                          و ساعت حضورتان در مطب
                        {{ selectprocedure.9 }}
                        میباشد,
                        برای قطعی شدن رزرو مبلغ بیعانه را پرداخت نمایید توجه فرمایید در صورت کنسل کردن 20 درصد از مبلغ بیعانه کاسته میگردد.
                    </p>
                </div>
            <button  class="regesterbuttonsave" >
                <a href="{% url 'zibal' %}">پرداخت</a>
            </button>
            <button class="regesterbuttoncancel" name="backbutton" value="accept">
                بازگشت
            </button>
{#                            <button  class="regesterbuttonsave" name="peymentbutton" value="accept">#}
{#                پرداخت#}
{#            </button>#}

    </form>
        </div>
    </div>
    
</body>
</html>